.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    padding: 20px;
    box-shadow: 0 0 43px 17px rgba(153,153,153,1);
    background-color: rgb(108,228,220);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.wrap-header {
    color: white;
    text-align: center;
    font-size: 42px;
}

p {
    margin: 10px;
}

.wrap-display {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding-bottom: 5px;
    display: grid;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    background-color: white;
    border-radius: 5px;
    grid-column-start: auto;
    grid-column: 1 / 4;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    color: rgba(116,102,91,1);
}

.button {
    line-height: 100px;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    background-color: white;
}

.reset-button {
    grid-column-end: auto;
    background-color: rgba(235,58,45,1);
    color: white;
}

.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}

div:empty:before {
    content:attr(data-placeholder);
    color: rgba(169, 169, 169, 0.73);
    padding-right: 180px;
}
